@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=IBM+Plex+Sans+Arabic:wght@700&display=swap");
:root {
  --primary-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Comfortaa", sans-serif;
  margin-top: 2rem;
  overflow-x: hidden;
}
h1 {
  text-align: center;
}
.card {
  width: 100px;
  height: 600px;
  margin: 0 0.5rem;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 50px;
  transition: all 2s;
}
.container {
  display: flex;
  width: 88%;
  margin: 3rem auto;
}
h3 {
  position: absolute;
  top: 92%;
  left: 20px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 900;
  opacity: 0;
  /* width: fit-content; */
}
.active {
  width: 900px;
  transition: all 2s;
  transform: scale(1.01);
}
.active h3 {
  opacity: 1;

  transition: opacity 3s;
}
@media (max-width: 1024px) {
  .container {
    width: 96%;
  }
  h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 520px) {
  #CityonWinter,
  #Mountains-Clouds {
    display: none;
  }
  h3 {
    top: 88%;
  }
}
